/* familia tipografica para texto */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
font-family: 'Montserrat', sans-serif; */

/* familia tipografica para titulares */
/* @font-face {
    font-family:'junicodebold';
    src: url('/estilos/font/junicode-bold.ttf') format('truetype');
}
@font-face {
    font-family:'junicodebolditalic';
    src: url('/estilos/font/junicode-boldItalic.ttf') format('truetype');
} */

/* ------------------- header con navegador ------------------- */

/* header{
    background-color: white;
    width: 100%;
    height: 150px;
    font-size: 1.8rem;
    position: sticky;
    top: 0px;
}
/* logo centrado en el header */
/* .logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    margin-top: 25px;
    width: 120px;
} */
/* menu de navegacion horizontal y centrado en el header */
/* .nav{
    font-family: 'junicodebold';
    list-style: none;
    font-weight: normal;
    font-style: normal;
    justify-content: center;
    background-color: white;
}

.link-lista{
    padding: 10px;
    margin: 0px 30px;
}
.a{
    text-decoration: none;
    color: #3c7c0c;
} */ */
/* cambio de color en el link de la pagina seleccionada */
/* .seleccion{
    color: #845ca4;
    border-bottom: 1px solid #845ca4;
} */

/* ------------------- main de index ------------------- */

/* banner */
/* .banner{
    background-image: url(../medios/floresyplantasdeornato-2.png);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.banner h1{
    height: 50vh;
    font-family: 'junicodebolditalic';
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #3c7c0c;
    text-shadow: 3px 2px 3px rgba(126,124,118,0.72);
    display: flex;
} */

/* ------ grid de index ------ */

/* elementos hijos */
/* main section h2{
    grid-area: titulo;
}
main section img{
    grid-area: img;
    width: 100%;
    height: 100%;
}
main section p{
    grid-area: texto;
}
main section h3{
    grid-area: titulo2;
} */
/* grid */
/* .grid-index-contenedor{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px 650px;
    grid-template-areas: 
    "img titulo"
    "img texto";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
}
.grid-index-contenedor2{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px 650px;
    grid-template-areas: 
    "titulo2 img"
    "texto   img";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
} */
/* etiquetas hijos */
/* .grid-index-hijo1{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'junicodebolditalic';
    font-style: normal;
    font-size: 4.5rem;
    text-align: center;
    color: #899676;
}
.grid-index-hijo2{
    height: 100%;
    display: flex;
}
.grid-index-hijo3{
    width: 100%;
    height: 650px;
    display: flex;
    font-size: 2rem;
}
.grid-index-hijo4{
    width: 100%;
    height: 200px;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    font-family: 'junicodebold';
    font-style: normal;
    font-size: 3rem;
    color: #3c7c0c;
}
.grid-index-hijo5{
    height: 100%;
    display: flex;
}
.grid-index-hijo6{
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}
section ul li{
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    padding: 10px;
} */

/* ------ grid de paginas ------ */
/* elementos hijos */
/* main section div h3{
    grid-area: titulo;
}
main section div img{
    grid-area: img;
}
main section div p{
    grid-area: texto;
}
main section div div{
    grid-area: filtro;
}
/* grid */
/* .grid-paginas-contenedor{
    display: grid;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: 100px 250px;
    grid-template-areas: 
    "img img titulo titulo filtro"
    "img img  texto texto  filtro";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
} */
/* .grid-paginas-contenedor2{
    display: grid;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: 100px 250px;
    grid-template-areas: 
    "filtro  titulo titulo img img"
    "filtro  texto texto  img img";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
} */
/* etiquetas hijos */
/* filtros */
/* .grid-paginas-hijo1, .grid-paginas-hijo5{
    display: flex;
}
.grid-paginas-hijo2{
    display: flex;
}
.grid-paginas-hijo3{
    display: flex;
}
.grid-paginas-hijo4{
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-color: #3c7c0c;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.grid-paginas-hijo4 img{
    width: 7vw;
    height: 7vw;
}
.grid-paginas-hijo4 p{
    font-size: 1.3rem;
} */

/* -------------------nosotros------------------- */

/* .nosotros{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 300px 500px;
    grid-template-areas: 
    "titulo img"
    "texto  img";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.hijo-nosotros{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 60px;
}
.nosotros img{
    width: 100%;
    height: 100%;
} */

/* -------------------contacto------------------- */
main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    color: aliceblue;
}

form{
    width: 40%;
    height: 600px;
    background-color: #845ca4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contacto-form-1{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.contacto-form-2{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.contacto-form-3{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.contacto-form-4{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.contacto-form-5{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.contacto-form-6{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
    justify-content: space-evenly;
}
.contacto-form-7{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: 1.2rem;
    font-family: "montserrat";
    justify-content: space-evenly;
}
.contacto-form-7 input{
    width: 100px;
}

/* -------------------pie de pagina------------------- */
/* footer p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'junicodebold';
    font-size: 1.4rem;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

footer img{
    width: 50px;
} */

/* -------------------media queries------------------- */
/* mobile */
@media only screen and (max-width: 480px){
    header{
        height: 100px;
    }
    header img{
        width: 90px;
    }
    header ul{
        display: none;
    }

    .grid-index-contenedor{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 150px 850px;
        grid-template-areas: 
        "img"
        "img"
        "titulo"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }
    .grid-index-contenedor2{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 100px 800px ;
        grid-template-areas: 
        "img"
        "img"
        "titulo2"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }
    .grid-index-hijo3{
        width: 100%;
        height: 850px;
        display: flex;
        align-items: flex-start;
    }
    .grid-paginas-contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 300px 350px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 30px;
    }
    .grid-paginas-contenedor2{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 250px 300px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 20px;
    }
    .grid-paginas-hijo4{
        justify-content: center;
    }

}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 950px){

}

