@media screen and (min-width: 650px){
    main {
        .grid-index-contenedor{
            grid-template-columns: 40% 40%;
            grid-template-rows: 200px auto;
            grid-template-areas: 
            "img titulo"
            "img texto";
        }
        .grid-index-contenedor2{
            grid-template-columns: 40% 40%;
            grid-template-rows: 200px auto;
            grid-template-areas: 
            "titulo2 img"
            "texto   img";
        }
        section{
            .formulario{
                width: 40%;
            }
        }
    }

}

@media only screen and (max-width: 650px){
    header{
        height: 100px;
        img{
            width: 90px;
        }
        ul{
            display: none;
        }
    }

    .grid-index-contenedor{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 150px auto;
        grid-template-areas: 
        "img"
        "img"
        "titulo"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
        .grid-index-hijo3{
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
        }
    }
    .grid-index-contenedor2{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 100px auto;
        grid-template-areas: 
        "img"
        "img"
        "titulo2"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }
    .grid-paginas-contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 300px 350px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 30px;
        .grid-paginas-hijo4{
            justify-content: center;
        }
    }
    .grid-paginas-contenedor2{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 250px 300px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 20px;
        .grid-paginas-hijo4{
            justify-content: center;
        }
    }
    main{
        section{
            .formulario{
                width: 80%;
            }
        }
    }
}