@media only screen and (max-width: 580px){
    header{
        height: 100px;
        img{
            width: 90px;
        }
        ul{
            display: none;
        }
    }

    .grid-index-contenedor{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 150px 850px;
        grid-template-areas: 
        "img"
        "img"
        "titulo"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
        .grid-index-hijo3{
            width: 100%;
            height: 850px;
            display: flex;
            align-items: flex-start;
        }
    }
    .grid-index-contenedor2{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 450px 100px 800px ;
        grid-template-areas: 
        "img"
        "img"
        "titulo2"
        "texto";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }
    .grid-paginas-contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 300px 350px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 30px;
        .grid-paginas-hijo4{
            justify-content: center;
        }
    }
    .grid-paginas-contenedor2{
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 250px 300px;
        grid-template-areas: 
        "titulo"
        "filtro"
        "img"
        "texto";
        gap: 40px;
        margin: 20px 20px;
        .grid-paginas-hijo4{
            justify-content: center;
        }
    }
}