main{
    .grid-paginas-contenedor{
        display: grid;
        grid-template-columns: repeat(5, 15%);
        grid-template-rows: 100px 250px;
        grid-template-areas: 
        "img img titulo titulo filtro"
        "img img  texto texto  filtro";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 50px;
        margin: 50px;
        .grid-paginas-hijo1{
            grid-area: titulo;
            display: flex;
        }
        .grid-paginas-hijo2{
            grid-area: img;
            display: flex;
            width: 100%;
            height: 100%;
        }
        .grid-paginas-hijo3{
            grid-area: texto;
            display: flex;
        }
        .grid-paginas-hijo4{
            grid-area: filtro;
            width: 100%;
            height: 100%;
            border-radius: 30px 30px 30px 30px;
            background-color: $verde;
            box-shadow: 10px 9px 4px -1px rgba(206,206,206,0.82);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img{
                width: 7vw;
                height: 7vw;
            }
            h3{
                font-size: 1.3rem;
                color: white;
                padding: 10px;
            }
        }
    }
    .grid-paginas-contenedor2{
        display: grid;
        grid-template-columns: repeat(5, 15%);
        grid-template-rows: 100px 250px;
        grid-template-areas: 
        "filtro  titulo titulo img img"
        "filtro  texto texto  img img";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 50px;
        margin: 50px;
        .grid-paginas-hijo1{
            grid-area: titulo;
            display: flex;
        }
        .grid-paginas-hijo2{
            grid-area: img;
            display: flex;
            width: 100%;
            height: 100%;
        }
        .grid-paginas-hijo3{
            grid-area: texto;
            display: flex;
        }
        .grid-paginas-hijo4{
            grid-area: filtro;
            width: 100%;
            height: 100%;
            border-radius: 30px 30px 30px 30px;
            background-color: $verde;
            box-shadow: 10px 9px 4px -1px rgba(206,206,206,0.82);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img{
                width: 7vw;
                height: 7vw;
            }
            h3{
                font-size: 1.3rem;
                color: white;
                padding: 10px;
            }
       }
    }
}