main{
    .nosotros{
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        .hijo-nosotros1{
            grid-area: titulo;
        }
        .hijo-nosotros2{
            grid-area: texto;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            margin: 60px;
        }
        .hijo-nosotros3{
            grid-area: img;
            width: 100%;
            height: 100%;
            overflow: hidden;
            justify-content: center;
            img{
                object-fit: cover;
            }
        }
    }
}